{{define "base"}}
<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>{{template "title" .}} - Cardbox</title>
    <link rel='stylesheet' href='/static/css/main.css'>
    <link rel='shortcut icon' href='/static/img/favicon.ico' type='image/x-icon'>
    <!--Google font-->
    <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Lobster&display=swap'>
  </head>
  <body>
  <header>
    <h1><a href='/'>Cardbox</a></h1>
  </header>
  <nav>
    <a href='/'>Home</a>
  </nav>

  <section>
    {{template "body" .}}
  </section>
    {{template "footer" .}}
  </body>
</html>
{{end}}